<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Destination</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">

      <div class="col col-md-8">

        <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Name" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="date" placeholder="Visited Date" class="form-control" formControlName="visitDate">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.visitDate">
              <mat-error
                *ngIf="exampleForm.get('visitDate').hasError(validation.type) && (exampleForm.get('visitDate').dirty || exampleForm.get('visitDate').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="experience" class="form-control" formControlName="experience">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.experience">
              <mat-error
                *ngIf="exampleForm.get('experience').hasError(validation.type) && (exampleForm.get('experience').dirty || exampleForm.get('experience').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="number" min="1" max="5" placeholder="rating" class="form-control"
                formControlName="rating">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.rating">
              <mat-error
                *ngIf="exampleForm.get('rating').hasError(validation.type) && (exampleForm.get('rating').dirty || exampleForm.get('rating').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button class="btn btn-outline-danger action" (click)="cancel()" type="button">Cancel
              </button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-outline-success action" type="submit" [disabled]="!exampleForm.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>